@tailwind base;
@tailwind components;
@tailwind utilities;

.login{
    /* position: absolute; */
    /* width: 720px;
    height: 1024px; */
    left: 720px;
    top: 0px;

    background: #D9D9D9;
}

.cover-title{
    /* ABC Bank */


    position: absolute;
    width: 367px;
    height: 84px;
    left: calc(15%);
    top: calc(50% - 84px/2 - 42px);

    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    text-align: center;

    color: #000000;
}

.cover-description{
    /* Secure, convenient banking anytime */


    position: absolute;
    width: 488px;
    height: 31px;
    left: calc(12%);
    top: calc(50% - 31px/2 + 61.5px);

    font-family: 'IM FELL DW Pica';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    text-align: center;

    color: #0D99FF;
}

.login-title{
    /* ABC Bank */


    position: absolute;
    width: 367px;
    height: 84px;
    left: calc(70% );
    top: calc(50% - 84px/2 - 262px);

    font-family: 'IBM Plex Sans KR';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 96px;
    text-align: center;

    color: #000000;

}
.login-description{
    /* Secure, convenient banking anytime */


    position: absolute;
    width: 355px;
    height: 31px;
    left: calc(70%);
    top: calc(50% - 31px/2 - 204.5px);

    font-family: 'IM FELL DW Pica';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 26px;
    text-align: center;

    color: #0D99FF;
}

.inputField{
    position: absolute;
    width: 392px;
    height: 74px;
    left: 70%;
    top: calc(55% - 31px/2 - 204.5px);;

    background: #FFFFFF;
    border-radius: 20px;
}

.input{
    /* position: absolute; */
    width: 392px;
    height: 44px;
    /* //left: 889px;
    //top: 574px; */

    background: #FFFFFF;
    border-radius: 20px;
}